.DS_Store
*~
.*sw[a-z]
*.pyc
*.bundle
.idea/
.idea_modules/
*.iml
target/
/js/**/node_modules
csharp/dotnet/Kata/.vs
csharp/dotnet/Kata/packages
csharp/dotnet/Kata/**/bin
csharp/dotnet/Kata/**/obj
/csharp/dotnet/Kata/**/*.user
fsharp/**/[Dd]ebug/
fsharp/**/[Dd]ebugPublic/
fsharp/**/[Rr]elease/
fsharp/**/[Rr]eleases/
fsharp/**/x64/
fsharp/**/x86/
fsharp/**/bld/
fsharp/**/[Bb]in/
fsharp/**/[Oo]bj/
fsharp/**/[Ll]og/
clojure/**/pom.xml
clojure/**/pom.xml.asc
clojure/**/*.jar
clojure/**/*.class
clojure/**/lib/
clojure/**/classes/
clojure/**/target/
clojure/**/checkouts/
clojure/**/.lein-deps-sum
clojure/**/.lein-repl-history
clojure/**/.lein-plugins/
clojure/**/.lein-failures
clojure/**/.nrepl-port
python/pytest/.pytest_cache
python/pytest/__pycache__
.classpath
.project
.settings/.jsdtscope
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
bin/Account.class
bin/AccountTest.class
bin/AllAcceptanceTests.class
bin/FizzBuzzExamples$Examples.class
bin/FizzBuzzExamples$Properties.class
bin/FizzBuzzExamples.class
bin/LeapYear.class
bin/LeapYearCalculator.class
bin/LeapYearCalculatorTest.class
bin/PrimeFactorsProperties.class
bin/Thing.class
bin/ThingTest.class
bin/Transaction.class
bin/features/LeapYearStepdefs.class
